<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <section class="fullimg">
        <img class="fullimg__img" src="public/images/big/{{ img }}" alt="photo">
        <div class="fullimg__view">
             <img src="public/images/view.png">
             <p class="fullimg__count">{{ data.count }}</p>
        </div>
        <a href="index.php">Вернуться назад</a>
    </section>
</body>
</html>